*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../imgs/s.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float:right;
    list-style-type: none;
    margin-top: 25px;

}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 20px;
    border-style: 1px solid white;
    transition: 0.3s ease
}
ul li a:hover{
    background-color: whitesmoke;
    color: black;
}
ul li.active a{
    background-color: whitesmoke;
    color: black;

}
header .logo img{
    float: left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1330px;
    margin: auto;

}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color:whitesmoke;
    font-size: 70px;
}
.button{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid whitesmoke;
    padding: 10px 30px;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.3s ease;
}
.btn:hover{
    background-color: whitesmoke;
    color: black
}